body{
    background-image: url(https://cdn.wallpapersafari.com/64/11/YT8SFn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    font-size: 20px;
    text-align-last: center;
    color: black;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.lc{
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
    .row{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    }
    
  }